.navbar {
  width: 100%;
  padding: 10px 100px;
  height: 60px;
  margin: 0px;
  box-shadow: 2px 6px 25px 1px #ccc;
  box-sizing: border-box;
}

.navbar .mobile {
  display: none;
}

.navbar .main {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}

.logo img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.navbar ul {
  padding: 0px;
  margin: 0px;
  float: right;
}

.navbar .mobile ul {
    padding: 0px;
    margin: 0px;
    background-color: #8a2955;
    color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    padding-top: 50px;
    box-sizing: border-box;
  }

.navbar .main ul li {
  float: left;
  list-style-type: none;
  margin-right: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.navbar .mobile ul li {
    list-style-type: none;
    padding: 10px 20px;
    cursor: pointer;
}

.navbar .mobile ul li:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

.navbar .main ul li:hover {
    background-color: rgba(105, 28, 68, 0.5);
}

.navbar .mobile .icon {
    width: 50px;
    height: 50px;
    float: right;
    font-size: 32px;
    animation: uju 1s ease-in-out infinite;
    border: 1px solid transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

@keyframes uju {
    0%{ border:  2px solid #fc50b4 }
    25%{ border:  4px solid #fc50b4c3}
    50%{ border:  6px solid #fc50b46d }
    75%{ border:  8px solid #fc50b41e }
    100%{ border:  10px solid #fc50b406 }
}


.navbar .mobile ul li i {
    margin-right: 15px;
}

.navbar .mobile .menu {
    display: none;
    animation: slide-out .3s ease-in-out forwards;
}

@keyframes slide-out {
    0% {left: -300px;}
    100% {left: 0px;}
}

.banner-area {
    width: 100%;
    height: 100vh;
    background: url("../images/bg-1.jpg");
    background-size: cover;
}

@media screen and (max-width: 765px) {
    .navbar {
        padding: 10px 20px;
    }
    .navbar .main {
        display: none;
      }

      .navbar .mobile {
        display: block;
      }
}


@media screen and (max-width: 920px) {
    .navbar {
        padding: 10px 20px;
    }
    .navbar .main {
        display: none;
      }

      .navbar .mobile {
        display: block;
      }
}

table {
  width: 80%;
}
table, th, td {
  /* border: 1px solid #8a2955; */
  border-collapse: collapse;
  text-align: center;
}

table th {
  background-color: #2d0718;
  color: white;
}

tr:nth-child(odd) {
  background-color: #8a3259c7;
}